{% extends 'bank_details/base.html' %}

{% block data %} 
 <tbody>

    {% for data in page_obj1 %}
    <tr>
      
      <td>{{data.ifsc}}</td>
      <td>{{data.bank_name}}</td>
      <td>{{data.bank_id}}</td>
      <td>{{data.branch}}</td>
      <td>{{data.address}}</td>
      <td>{{data.city}}</td>
      <td>{{data.district}}</td>
      <td>{{data.state}}</td>
      
      
    </tr>
    {%endfor%}
    
  </tbody> 

{% endblock %}

{% block page %}
 {% if page_obj1.has_previous %}
    <a href="?page={{page_obj.previous_page_number}}">Previous</a>
   {% endif %}

    <span>{{ page_obj1.number }}</span>

   {% if page_obj1.has_next %}
    <a href="?page={{page_obj.next_page_number}}">Next</a>
   {% endif %}

 {% endblock %}